h1{
    background: rgb(255, 193, 78);
    font: bold;
    color: lightcyan;
}
h2{
    size: 16cap;
    font: bold;
    color: coral;
}

.resumen { text-align: justify }
span.inicio { font-weight: bold;
color: darkmagenta }